[user]
	name = Jessica K. Litwin
	email = jessica@litw.in
[color]
  ui = true
[format]
	pretty = oneline
[alias]
  # TODO be more awesome
	oops = reset HEAD --hard
	crap = reset HEAD --soft
	update = add -u
[push]
	default = simple
